<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Employee Details</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Табели сотрудника - <span th:text="${Employee.get().getFirstName()} + ' ' + ${Employee.get().getLastName()}"></span></h1>
<table>
    <tr>
        <th>Дата</th>
        <th>Часы</th>
        <th>Выходной</th>
        <th>Больничный</th>
        <th>Отпуск</th>
        <th>Примечание</th>
    </tr>
    <tr th:each="prc: ${TimeSheet}">
        <td th:text="${prc.getDate()}">
        <td th:text="${prc.getHoursWorked()}">
        <td th:text="${prc.isHoliday() ? 'Да' : 'Нет'}"></td>
        <td th:text="${prc.isMedical() ? 'Да' : 'Нет'}"></td>
        <td th:text="${prc.isVacation() ? 'Да' : 'Нет'}"></td>
        <td th:text="${prc.getNotes()}">
    </tr>
</table>
</body>
</html>
